body {
    margin: 10;
    font-family: Arial, sans-serif;
    background: #023047;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 5%;
    padding-left: 3%;
    padding-bottom: 5%;
    padding-right: 3%;
}
.container {
    display: flex;
    gap: 10px;
}

#sidebox {
    height: 400px;
    width: 200px;
    background-color: #219ebc;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    border-radius: 30px;
}

#bigbox {
    height: 900px;
    width: 600px;
    background-color: #256d7f;
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-radius: 30px;
}

#abtme, #resume, #portfolio{
    height: 70px;
    width: 200px;
    font-size: large;
    background-color: #256d7f;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px black;
    border-radius: 20px;
}

.stack {
    display: flex;
    flex-direction: column;
  }

#selfie{
    height: auto;
    width: 100%;
    border-radius: 20px;
}

#name{
    height: auto
    width 100%;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    color: #ffb703;
}

#email{
    justify-content: center;
    align-content: center;
    display: flex;
    color: #ffb703;
    height: auto
    width 100%;
    font-size: 16px;
}

#buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px black;
    height: auto;
    width: auto;
}

#title{
    color: #ffb703;
    font-size: 20px;
}

.resume-box{
    margin: auto;
    padding: 20px;
}


.resume-title{
    font-size: 24px;
    margin-bottom: 5px;
    margin-top: 15px;
    font-style: bold;
}

.resume-sub-title{
    font-size: 16px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.resume-text{
    font-size: 12px;
}

.indent-1{
    margin-left: 20px;
}

.indent-2{
    margin-left: 40px;
}

.resume-skills{
    font-style: italic;

}